body {
  margin: 0; }
  body .videoContainer {
    display: flex;
    flex-direction: column;
    position: relative; }
  body video {
    width: 100%; }

.horizontal-center {
  align-self: center; }

.vertical-bottom {
  bottom: 40px; }

button {
  width: 200px;
  height: 70px;
  position: absolute;
  border-radius: 20px;
  font-size: 20px;
  background-color: white; }

